---
const year = new Date().getFullYear();
---

<footer id="contacto" class="footer">
  <p><i class="uil uil-envelope"></i> originalamat@gmail.com</p>
  <p><i class="uil uil-phone"></i> +52 8182079917</p>
  <p>© {year} Portfolio Mateo Zamora</p>
</footer>
