---
const base = import.meta.env.BASE_URL;
---

<header class="navbar">
  <div class="logo">Mateo Zamora</div>
  <nav>
    <a href={`${base}#sobre-mi`}>About me</a>
    <a href={`${base}#proyectos`}>Projects</a>
    <a href={`${base}#software`}>Software</a>
  </nav>
</header>
